<form action="https://getsimpleform.com/messages?form_api_token=33abad4084159696f127432393dde67a" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://rickhocutt.com/#contact' />

  <div class="row">
    <div class="large-12 columns">
      <label for="your-name">Your Name
        <input type="text" name="your-name" id="your-name">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="email">Your Email address
        <input type="email" name="email" id="email">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="message">Your Message
        <textarea name="message" id="message "rows="8"></textarea>
      </label>
    </div>
  </div>
  <input class="button radius small-full-width" id="submit" name="submit" type="submit" value="Submit">
</form>
