<header id="primary-header">
    <div class="container">
        <div class="row collapse">
            <div class="small-12 medium-6 columns">
                <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            </div>

            <div class="small-12 medium-6 columns">
                <nav>
                    <ul class="inline-list js-primary-nav" id="primary-nav">
                        <li class="#portfolio"><a href="{{ site.baseurl }}/#portfolio">Portfolio</a></li>
                        <li><a href="{{ site.baseurl }}/#about">About Me</a></li>
                        <li><a href="{{ site.baseurl }}/#contact" class="contactLink">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
