img {max-width: 100%;}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

section.pad {
  padding: 2em 0;
}

@media #{$small-only, $medium-only} {
  .small-full-width {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
