@-webkit-keyframes gray {
	0% {
		-webkit-filter: grayscale(0.5) blur(1px);
	}
	100% {
		-webkit-filter: grayscale(0.9) blur(6px);
	}
}

.portfolio {
  position: relative;

	&.section {
	    background-color: #363636;
	    color: #fff;

	    h3 {color: #000;}

	    h1, h2, h3, h4, h5, h6 {
	      color: #fff;
	    }
	}

	.card {
	  overflow: hidden;
	  position: relative;
	  max-width: 400px;

	  .effect {
			-webkit-animation: gray 3s once;
	    -moz-animation: gray 3s once;
	    animation: gray 3s once;
	  }
	}

	.back {
	  display: block;
	  background: rgba(255,255,255,0.3);
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 100%;
	  left: 0;
	  text-align: center;

		h3 {
			color: #000;
		}
	}

	.thumb {
	  margin-bottom: 1rem;
	}

}
