<!DOCTYPE html>
<html>
{% include head.html %}
<body>

  {% include header.html %}

  <section class="fragment" id="main">
    <div class="row">
      <h1>{{ page.title }}</h1>

      <div class="small-12 medium-8 columns">
        <img src="{{ site.baseurl }}/img/portfolio/{{ page.thumb }}" alt="{{ page.title }}" />
      </div>

      <div class="small-12 medium-4 columns">
        <div class="clearfix">

          {% if page.previous %}
          <a class="button left tiny radius secondary" href="{{ site.baseurl }}/portfolio/{{ page.previous }}.html">Previous</a>
          {% endif %}

          {% if page.next %}
          <a class="button right tiny radius secondary" href="{{ site.baseurl }}/portfolio/{{ page.next }}.html">Next</a>
          {% endif %}
        </div>

        {{ content }}

      </div>
    </div>

  </section>

  {% include footer.html %}

</body>
</html>
